/* 
----by tag---- 
h1{
    color: blueviolet;
}
p{
    color: darkmagenta;
} */

/* 
----by id----
*/
#heading{
    color: blueviolet;
}
#para1{
    color: darkmagenta;
} 

/* 
----by class----
*/
.headingTwo{
    color: yellowgreen;
    font-style: italic;
    font-family: monospace;
}

/* 
----pseudo----
*/
/* a:hover{
    color: hotpink;
    font-weight: 600;
} */